@use '../../styles/variables' as *;

.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  will-change: contents;
  contain: layout style paint;
  background: $bg-primary;
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}

